@{
    ViewBag.Title = "About";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

# para a;adir informacion de la empresa
    <p>Use this area to provide additional information.</p>

</main>
