@{
    ViewBag.Title = "Dashboard";
}
<head>
    <link rel="stylesheet" href="@Url.Content("~/Content/StyleSheet1.css")" />
</head>

<h1>Dashboard</h1>
<p>Resumen:</p>
<ul>
    <li>Empleados: [Número de empleados]</li>
    <li>Departamentos: [Número de departamentos]</li>
    <li>Salarios vigentes: [Total]</li>
    <li>Alertas de vigencias por vencer: [Cantidad]</li>
</ul>

<button type="button" onclick="location.href='@Url.Action("Menu","Home")'">Volver al Menú</button>

