@{
    ViewBag.Title = "Titulos";
}
<head>
    <link rel="stylesheet" href="@Url.Content("~/Content/StyleSheet1.css")" />
</head>

<h1>Títulos</h1>
<form method="post" action="@Url.Action("Titulos","Empleados")">
    <label>Emp_no:</label><input type="text" name="emp_no" required /><br />
    <label>Title:</label><input type="text" name="title" required /><br />
    <label>From Date:</label><input type="date" name="from_date" required /><br />
    <label>To Date:</label><input type="date" name="to_date" /><br />
    <input type="submit" value="Agregar" />
    <input type="submit" value="Editar" />
    <input type="submit" value="Terminar Vigencia" />
</form>

<button type="button" onclick="location.href='@Url.Action("Menu","Home")'">Volver al Menú</button>
